.card {
  max-width: 1200px !important;
  min-width: 500px;
  margin: 0 100px;
  padding-bottom: 50px;
}

.overflow {
  max-height: 150px;
  overflow-y: scroll;
}

.header {
  display: flex;
  width: 100%;
  background: #F8F9FA;
  border-bottom: 1px solid #E9ECEF;
  padding: 10px 10px;
}

.header span:nth-child(1) {
  width: 150px;
}

.header span:nth-child(2) {
  min-width: 150px;
  flex: 1;
}

.header span:nth-child(3) {
  width: 150px;
}

.header span:nth-child(4) {
  width: 80px;
}